@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Roboto+Condensed:ital,wght@1,700&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Lato:ital,wght@1,300&family=Roboto+Condensed:ital,wght@1,700&family=Silkscreen&display=swap');
*{
	font-family: 'Lato', sans-serif;
	margin: 0; padding: 0;
	box-sizing: border-box;
	outline: none; border: none;
	text-decoration: none;
	text-transform: capitalize;
}

html{
	font-size: 100%;
	overflow-x: hidden;
}
*::selection{
	background-color: burlywood;
	color: whitesmoke;
}

.header{
	position: sticky;
	box-shadow: 1px 1px black;
	padding: 1px 1px black;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.header .navbar a{
	font-size: 30px;
	margin-left: 10px;
}

#menu-btn{
	display: none;
	font-size: 30px;
	color: black;
	cursor: pointer;
}


.home-bg{
	background: linear-gradient(90deg,whitesmoke, transparent 70%), url(../img/fakeback.png) no-repeat;
	background-size: cover;
	background-position: center;
}
.home-bg .home{
	min-height: 70rem;
	display: flex;
	align-items: center;

}
.home-bg .home .content{
	width: 50rem;
	text-align: center;
}
.home-bg .home .content h3{
	font-size: 6rem;
	color: black;
	font-family: 'Silkscreen', sans-serif;
}
.home-bg .home .content p{
	
	font-size: 1.6rem;
	color: black;
	line-height: 4rem;
}
.btn{
	display: inline-block;
	margin-top: 1rem;
	background-color: lightyellow;
	cursor: pointer;
	font-size: 1rem;
	padding: 1rem 3rem;
}
.btn:hover{
	background-color: black;
}






















@media(max-width: 500px){
	
	html{
		font-size: 55%;
	}

	#menu-btn{
		display: inline-block;
		transition: .2s linear;
	}
	#menu-btn.fa-times{
		transform: rotate(180deg);
	}
	.header .navbar{
		position: absolute;
		top: 99%; left: 0; right: 0;
		background-color: whitesmoke;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		transition: .2s linear;


	}
	.header .navbar .active{
		clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
	}

	.header .navbar a{
		display: block;
		margin: 3rem;
	}
	.home-bg{
		background-position: left;
	}
	.home-bg .home{
		justify-content: center;
	}
	.home-bg .home .content h3{
		font-size: 4rem;
	}

}

